.auth-section-container {
    display: flex;
    justify-content: space-between;
    color: #fff !important;
    gap: 2rem;
    background-image: url(./../../../public/images/b1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: $margin-mobile;
    min-height: 100vh;

    .form-container {
        position: relative;
        z-index: 1;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
     

        .header-container {

            p {
                margin-top: 2rem;
            }
        }

        form {
            margin-top: 3rem;
            .field {
                margin-bottom: 2rem;
                position: relative;
                .error {
                    position: absolute;
                    bottom: -1.5rem;
                    color: red;
                    font-size: 0.85rem;
                }
            }

            .submit-button {
                width: 7rem;
                height: 2.5rem;
                background-color: rgb(43, 43, 209);
                color: #fff;
                cursor: pointer;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}

@media (min-width: 1024px) {
    .auth-section-container {
        height: 100vh;
        padding: $margin;

        .form-container {
            flex-direction: row;
            gap: 7rem;
            justify-content: space-between;

            .header-container,
            form {
                flex: 1;
                margin: 0;
            }
        }
    }
}